html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;

}

.header {
    border: solid;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-weight: bold;
    font-size: 16px;
    
}

.header > .user-info {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 60px 60px 130px;
    justify-self: end;
    justify-items: end;
    align-items: center;
    margin-right: 60px;
}

.header > .user-info > *{
    display: inline;
}

.header > .buttons {
    justify-self: end;
    align-self: center;
    margin-right: 60px;
    
}

.header > .logo{
    display: grid;
    grid-template-columns: 80px 400px;
    align-items: center;
    margin-left: 40px;
}

.header > .search-bar {
    display: grid;
    grid-template-columns: 20px 800px;
    align-items: center;
    margin-left: 40px;
    gap:20px;
}

.logo > div {
    font-size: 12px;
}

.logo > div > span {
    font-size: 24px;
}


.sidebar {
    grid-column: 1 / 2;
    border: solid;
    grid-row: 1 / 3; 
    background-color: #f43f5e;
    font-weight: bold;
    display: grid;
    grid-template-rows: 1fr 9fr;
    gap: 40px;
    color: white;
    border: 0;

}

.sidebar > div {
    font-size: 24px;
    display: grid;
    grid-template-rows:  1fr;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    margin-left: 10px;
    gap: 10px;
}



.sidebar > ul > li{
    margin-left: 30px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 10px;
    align-items: center;
    font-size: 18px;
}

.sidebar > ul > li:nth-child(6) {
    margin-bottom: 50px;
}

.content {
    border: solid;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(243, 235, 235);
}

.content > .trending {
    grid-column: 2 / 3;
}

.content > .projects {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap:10px;
}

.projects > .title {
    grid-column: 1 / 3;
}

.icon {
    height:20px;
    width:auto;
}

.avatar {
    height:45px;
    width:auto;
}

.search-bar > #search-input {
    border-radius: 25px;
    margin: 0;
    width:100%;
    height: 25px;
    background-color: rgb(243, 235, 235);
    border: 0;

}

button {
    background-color: #f43f5e;
    color: white;
    border-radius: 25px;
    height: 35px;
    width:90px;
    margin-left: 25px;
    font-size: 15px;
    font-weight: bold;
    border: 0;
}

.title {
    font-size: 16px;
    font-weight: bold;
}


